body {
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color:#FFFFFF !important;
    text-decoration: none !important;
}
header {
    display: flex;
    min-height: 70px;
    background-color: black;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* word-spacing: 20pt; */

}

.img {
    height: 100%;
}

nav a {
    font-weight: 500;
    padding: 10px;

}
nav a:hover {
    color: yellow !important;
}

.text-justify {
    text-align: center;
}

.fondo{
    background-image: url("./images/ciudad.jpg");
    background-color: #8096a2;
}

section div {
    color: #FFFFFF;
} 

.grid-layout{
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'cabeza cabeza'
                        'izq der';
    padding: 20px;
    gap: 15px;
                        
    
}

.caja{
     
     text-align: justify;
}

.cabeza
{
    grid-area: cabeza;
    text-align: center;
}

.izq {
    text-align: justify;
    grid-area: izq;
}

.der {
    text-align: justify;
    grid-area: der;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }

    
}